* {
    padding: 0px ;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
  }
  
  ::selection {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
  }
  ::placeholder {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
  }
  
  a {
    text-decoration: none;
    font-size: 1.8rem;
  }
  
  li {
    list-style-type: none;
  }
  
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  
  p {
    font-size: 1.6rem;
  }
  
  button {
    display: grid;
    place-items: center;
    cursor: pointer;
    outline: none;
    padding: 0.5rem 1rem;
  }
  .button_1 {
    background: transparent;
    border: 0.2rem solid #fff;
    color: #fff;
    font-size: 2rem;
    border-radius: 3rem;
    padding: 1rem 2.5rem;
    transition: all 0.4s ease;
}
.button_1:hover {
  background-color: #fff;
  color: grey;
}
.container {
  width: 90vw;
  margin: auto;
  max-width: 1250px;
}