:root {
    --white-color: #fff;
    --dark-color: #373234;
  }
/* HEADER */
.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("./assets/header__images/header__background1.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    transition: all 2s ease;
  }

.hamburger__icon {
  display: none;
}
.navbar__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.4s ease-in 0.2s;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.navbar .logo {
  color: var(--white-color);
}
.logo{
    height:4.1rem;
    width:9rem;
}
.nav__links .nav__link {
  display: inline-block;
  color: var(--white-color);
  margin-left: 2rem;
  transition: all 0.25s ease;
}

.nav__links .nav__link:hover {
  transform: scale(1.1);
}
.hamburger__icon {
    display: none;
  }
  .navbar__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.4s ease-in 0.2s;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    
  }
  .navbar .logo {
    color: var(--white-color);
  }
  .logo{
      height:4.1rem;
      width:9rem;
  }
  .nav__links .nav__link {
    display: inline-block;
    color: var(--white-color);
    margin-left: 2rem;
    transition: all 0.25s ease;
  }
  
  .nav__links .nav__link:hover {
    transform: scale(1.1);
  }
  .header__content {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white-color);
    text-align: center;
  }
  .header__content p {
    margin: 2rem 0;
    font-size: 1.8rem;
  }
  .header__content button {
    opacity: 0;
    animation: fadeButton 1s linear 1s forwards;
  }
  @keyframes fadeButton {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .home__items__carousel {
    width: 100%;
    position: relative;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:1.5rem;
}
.products>h2{
  margin-top: 3rem;
    text-align: center;
    margin-bottom: 3rem;
}
.carousel__cards {
    min-width: 300px;
    height: 500px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.cards__top {
    width: 100%;
    height: 75%;
    display: flex;
    position: relative;
    justify-content: center;
}

.cards__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right bottom,
            rgba(232, 220, 204, 0.5),
            rgba(241, 213, 177, 0.4));
    transition: all 0.3s ease-in-out;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carousel__cards:hover .cards__overlay {
    opacity: 1;
}

.overlay__items {
    display: grid;
    place-items: center;
    width: 50%;
    opacity: 0;
    transition: transform 0.5s ease-in-out;
    transform: translateY(50%) scale(0.9);
}

.carousel__cards:hover .overlay__items {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.overlay__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.overlay__links a {
    padding: 10px 15px;
    border: 1px solid white;
    color: white;
    transition: all 0.3s ease-in;
}

.overlay__links a:hover {
    background-color: #c06b81;
}

.overlay__button {
    display: flex;
    width: 100%;
    height: 45px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.overlay__button>* {
    margin: 0 5px;
}

.overlay__button:hover {
    color: white;
    background-color: #c06b81;
}

.card__item__image {
    height: 100%;
}

.card__item__image img {
    height: 100%;
    width: 100%;
    
    object-fit: cover;
}

.cards__description {
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
}

.card__item__name {
    font-weight: 600;
}

.card__item__price {
    font-size: 1.2em;
    color: black;
}

.card__item__rating {
    font-size: 0.8em;
}

.discount__price {
    color: rgb(153, 153, 153);
    margin-left: 20px;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: line-through;
}
.categories h2 {
    text-align: center;
    margin: 4rem 0;
    font-weight: 600;
  }
  .categories__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
  }
  .categories__image {
    position: relative;
    height: 40rem;
    cursor: pointer;
  }
  .categories__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .catergories__imageText {
    display: none;
  }
  .categories__image:hover .catergories__imageText {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white-color);
    animation: imageText 0.75s ease;
  }
  @keyframes imageText {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .about{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 4rem;
    margin-right: auto;
    margin-left: auto;
}
.about>h2{
 justify-items: center;
 text-align: center;
}
.about__content{
 display: grid;
 grid-template-columns: 2fr 3fr;
}
.about__image{
 display: block;
 margin: auto;
}
.about__para{
display: block;
margin: auto;
justify-items: center;
}

/* CONTACT */
.contact__section {
padding-top: 10rem;
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 7rem;
}
.contact__section .contact__form {
flex: 1;
}
.contact__section .location {
flex: 1;
}
.contact__section h2 {
text-align: left;
margin-bottom: 4rem;
font-weight: 600;
}
.contact__section form {
width: 100%;
margin: auto;
}
.contact__section form input,
.contact__section form textarea {
width: 100%;
border: 0.1rem solid rgba(0, 0, 0, 0.5);
display: block;
padding: 1rem;
outline: none;
margin: 2rem 0;
}
/* FOOTER */
footer {
  background-color: var(--dark-color);
  margin-top: 10rem;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5rem 0;
}
.footer__contentLeft,
.footer__contentRight,
.footer__contentMiddle {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  color: var(--white-color);
  line-height: 2.3;
}
.footer__contentLeft a,
.footer__contentRight a,
.footer__contentMiddle a {
  color: var(--white-color);
  display: block;
}
.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}
.social a {
  margin-right: 2.5rem;
}
.footer__contentLeft h1 {
  line-height: 1.35;
  margin-bottom: 2.5rem;
}
.copyright {
  text-align: center;
  color: var(--white-color);
  padding: 1.5rem 0;
  border-top: 0.2rem solid #524a4d;
}
.footer__contentLeft>img
{
  margin-bottom: 20px;
}
/* RESPONSIVE */
@media (max-width: 888px) {
  .contact__section {
    display: block;
  }
  .contact__form {
    margin-bottom: 7rem;
  }
  .home__items__carousel
  {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(1,3fr);
    width: 70vw;
    align-items: center;
    padding: 10em;
  }
  .about__content
  {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(1,3fr);
  }
}

@media (max-width: 786px) {
  .hamburger__icon {
    display: block;
    padding: 0;
    background: transparent;
    display: grid;
    place-items: center;
    color: var(--white-color);
    border: none;
    font-size: 3rem;
    z-index: 2;
  }
  .navbar__container {
    position: relative;
  }
  .navbar__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
  }
  .navbar__logo h1 {
    z-index: 99;
  }
  .navbar {
    display: block;
    /* clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%); */
    transition: all 1s ease-out;
    overflow: hidden;
  }
  /* .navbar.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  } */
  .navbar.open body {
    overflow: hidden;
  }
  .nav__links {
    background-color: black;
    display: none;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .nav__links .nav__link {
    display: block;
    margin-left: 0;
  }

  /* FOOTER */
  .footer__container {
    flex-direction: column;
    padding: 4rem;
  }
  .footer__contentRight,
  .footer__contentMiddle {
    margin-top: 4rem;
  }
}