:root {
    --white-color: #fff;
    --dark-color: #373234;
  }
/* HEADER */
.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("./assets/header__images/header__background1.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    transition: all 2s ease;
  }

.hamburger__icon {
  display: none;
}
.navbar__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.4s ease-in 0.2s;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.navbar .logo {
  color: var(--white-color);
}
.logo{
    height:4.1rem;
    width:9rem;
}
.nav__links .nav__link {
  display: inline-block;
  color: var(--white-color);
  margin-left: 2rem;
  transition: all 0.25s ease;
}

.nav__links .nav__link:hover {
  transform: scale(1.1);
}
.hamburger__icon {
    display: none;
  }
  .navbar__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.4s ease-in 0.2s;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
  }
  .navbar .logo {
    color: var(--white-color);
  }
  .logo{
      height:4.1rem;
      width:9rem;
  }
  .nav__links .nav__link {
    display: inline-block;
    color: var(--white-color);
    margin-left: 2rem;
    transition: all 0.25s ease;
  }
  
  .nav__links .nav__link:hover {
    transform: scale(1.1);
  }